Description=Load wlan module
Conflicts=shutdown.target actdead.target
Before=wpa_supplicant.service
 
[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/bin/sleep 10
ExecStart=/sbin/modprobe sprdwl
ExecStop=/sbin/modprobe -r sprdwl
Restart=on-failure
RestartSec=2
 
[Install]
WantedBy=multi-user.target